{% extends 'base.html' %}
{% block title %} || Offline Signature Recognition System
{% block content %}
    <section class="inputPage d-flex flex-column align-items-center p-5">
        <div class="arrow position-absolute top-0 start-0 m-5">
            <a href="/index.html" class="fa fa-arrow-left"></a>
        </div>

        <h1 class="text-center px-5 pt-5"><a class="text-decoration-none" href="/index.html">OFFLINE RECOGNITION SYSTEM</a></h1>

        <div class="inputFigures d-flex align-items-center justify-content-center flex-column flex-md-row">
            <div class="noteInputs d-flex align-items-center justify-content-center flex-column m-4 order-2 order-md-1">
                <h1 class="text-uppercase text-center px-5 mt-5 mt-md-2">Upload the image of the signature you want to recognize</h1>

                <div class="reminderInput d-flex align-items-center justify-content-center flex-column text-center p-4 m-4">
                    <span class="py-2 px-auto my-2 mx-auto">REMINDER</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae facere perspiciatis incidunt tempore eveniet, sed quia non, excepturi minus consectetur culpa sequi eaque voluptatum quas voluptate nemo voluptas velit atque!</p>
                </div>
                
                <a class="upload_but mt-4" href="/reference.html">start</a>
            </div>

            <div class="image-preview-container mx-5 p-3 order-1 order-md-2">
                <div class="preview">
                    <img id="preview-selected-image"/>
                </div>
                <label for="file-upload" class="text-uppercase text-decoration-underline mt-3">Upload Image</label>
                <input type="file" id="file-upload" accept="image/*" onchange="previewImage(event);" />
            </div>
        </div>
    </section>
    
{% endblock %}