{% extends 'base.html' %}
{% block title %}Login || Offline Signature Recognition System{% endblock %}
{% block content %}
    <section class="loginPage d-flex flex-column justify-content-center p-5">
        <div class="centerform d-flex align-items-center justify-content-center">
            <div class="login p-4">
                <h1 class="text-center mb-3">Offline Signature Recognition System</h1>

                <form method="POST" class="needs-validation">
                    <div class="form-group mb-2 was-validated">
                        <label class="form-label" or="username">USERNAME</label>
                        <input class="form-control" type="text" id="username" name="username">
                        <div class="invalid-feedback">Please enter your username</div>
                    </div>
                    <div class="form-group was-validated">
                        <label class="form-label"  for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password">
                        <div class="invalid-feedback">Please enter your password</div>
                    </div>
                    
                    <input class="btn btn-success w-100" type="submit" value="Login">

                    <a class="btn btn-success w-100 mt-2" type="submit" href="/signup">Sign Up</a>
                </form>
            </div>
        </div>
    </section>

{% endblock %}